<form class="d-flex" [formGroup]="fg">
  <div class="col">
    <div class="">
      <label for="" class="form-label">Destination</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="helpId"
        formControlName="destinationForm"
      />
      @if (this.fg.get('destinationForm')?.invalid &&
      (this.fg.get('destinationForm')?.dirty ||
      this.fg.get('destinationForm')?.touched)) {
      <small id="helpId" class="form-text text-danger"
        >Field is required.</small
      >
      }
    </div>
    <div class="">
      <label for="" class="form-label">Airport Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="airportNameForm"
        aria-describedby="helpId"
      />
      @if (this.fg.get('airportNameForm')?.invalid &&
      (this.fg.get('airportNameForm')?.dirty ||
      this.fg.get('airportNameForm')?.touched)) {
      <small id="helpId" class="form-text text-danger"
        >Field is required.</small
      >
      }
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label for="datePicker" class="form-label">Select a date</label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="dateForm"
          id="datePicker"
          name="date"
        />
        @if (this.fg.get('dateForm')?.invalid && (this.fg.get('dateForm')?.dirty
        || this.fg.get('dateForm')?.touched)) {
        <small id="helpId" class="form-text text-danger"
          >Field is required.</small
        >
        }
      </div>
      <div class="mb-3 col">
        <label for="seatNumbers" class="form-label">Number of seats</label>
        <input
          type="number"
          class="form-control"
          aria-describedby="helpId"
          formControlName="seatNumbersForm"
        />
        @if (this.fg.get('seatNumbersForm')?.invalid &&
        (this.fg.get('seatNumbersForm')?.dirty ||
        this.fg.get('seatNumbersForm')?.touched)) {
        <small id="helpId" class="form-text text-danger"
          >Field is required.</small
        >
        }
      </div>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary w-50 mb-4"
        (click)="$event.preventDefault(); handleSubmit()"
      >
        Add flight
      </button>
    </div>
  </div>
</form>
