<app-main-widget></app-main-widget>

<div>

  <ol style="list-style: decimal">
    <li>
      <ul class="pl-10 pb-96" style="list-style: circle">
        <li>
          Fun thing: getting the origin airports and showing them on a map.
          <br>
          Selecting one origin airport will load, when clicking the destination
          <br> airports input, will show the map with the possible destinations 
          <br> and a red dot the origin airport
        </li>
        <li>
          When scrolling after the search thing, show a text with
          images/info/whatever
        </li>
        <li>An image on one side and text on another</li>
        <li>
          In the middle a plane which moves from the bottom to top as I scroll
        </li>
      </ul>
    </li>
  </ol>
</div>
