<div class="w-screen px-20">
  <ol style="list-style: decimal;">
    <li>
      Add flight search option (1/3 right side desktop/tablet (>=md devices),
      1/2 tablets (>=sm devices), center mobiles)
    </li>
    <li>
      Add a slideshow beneath the flight search (desktop/tablet version). For
      mobile, add on top of the searcher a small slideshow with offers
    </li>
    <li>
      Challenge -
      <ul class="pl-10" style="list-style: circle;">
        <li>When scrolling after the search thing, show a text with images/info/whatever</li>
        <li>An image on one side and text on another</li>
        <li>In the middle a plane which moves from the bottom to top as I scroll</li>
      </ul>
    </li>
  </ol>
</div>
